
@using MVC_Sample.Models
<div class="panel-heading center">View Fix Results</div>


@*<table class="table table-bordered table-striped" id="ticket-report-table-Log">
    <thead>
        <tr>
            
        </tr>
    </thead>*@
</table>


