@{
    ViewBag.Title = "Centers";
    Layout = "~/Views/Shared/_admin_layout.cshtml";
}

@section styles{
   
    <style>
        .digital {
            font-family: 'digital-7';
            font-size: 45px;
            text-align: center;
            vertical-align: middle;
        }

        .panel-body {
            min-height: 75px;
        }

        .panel-body-full {
            min-height: 250px;
        }

        #dateTable td {
            padding: 2px;
        }

        .dateTime {
            width: 80px;
        }
    </style>

}

    <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Link 1</a>
        <a class="dropdown-item" href="#">Link 2</a>
        <a class="dropdown-item" href="#">Link 3</a>
    </div>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-12">
            <h2>
                Centers
            </h2>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="col-md-4">
            <select class="form-control" id="center-dropdown">
                <option value="">
                    Select center
                </option>
                <option value="Affordable">Affordable</option>
                <option value="Budget">Budget</option>
                <option value="Accounting">Accounting</option>
            </select>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card card-stats">
            <div class="card-header" data-background-color="red">
                <i class="material-icons">info_outline</i>
            </div>
            <div class="card-content">
                <p class="category">Overall Data</p>
                <div id="center-data">

                </div>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">local_offer</i> Tracked from Salesforce
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

   
    <script type="text/javascript">
        $(document).ready(function () {
            $("#center-dropdown").change(function () {
                var v = $("#center-dropdown option:selected").val();
                getCenterData(v);
            });
        })

        

        function getCenterData(v) {
            $.ajax({
                url: "@Url.Action("GetCenterData", "Admin")",
                method: 'post',
                data: {"type":v},
                success: function (result) {
                    $("#center-data").html(result);
                }
            });
        }

        function showQCount(ans, total) {
            $("#answeredQuestions").html(ans);
            $("#totalQuestions").html(total);
        }

        function initSignalR() {
            $(function () {
                var chat = $.connection.DashboardHub;
                chat.client.MyPMETicketsCount = function (msg) {
                    $("#MyPMETicketsCount").html(msg);
                };
                chat.client.qcount = function (msg) {
                    showQCount(msg.Data[0], msg.Data[1]);
                };
                $.connection.hub.start().done(function () {
                });
            });
        }
    </script>
}
